<header class="header">
  <div class="container">
    <button class="open-nav-button">
      <svg class="header-menu-image" width="30px" height="30px">
        <use href="./images/svg/sprite.svg#menu"></use>
      </svg>
    </button>

    <nav class="nav hide">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="./index.html">Обо мне</a></li>
        <li class="nav-list-item"><a href="./biografy-page.html">Автобиография</a></li>
        <li class="nav-list-item"><a href="./works-page.html">Мои работы</a></li>
      </ul>
    </nav>
  </div>
</header>
