<section class="section">
  <div class="container">
    <h2 class="title">Курс 1 - HTML,CSS,SCSS. Домашние работы:</h2>
    <ul class="list">
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-01"
          >Домашняя работа №1</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-02"
          >Домашняя работа №2</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-03"
          >Домашняя работа №3</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-04"
          >Домашняя работа №4</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-05"
          >Домашняя работа №5</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-06"
          >Домашняя работа №6</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-markup-hw-07"
          >Домашняя работа №7</a
        >
      </li>
      <li class="list-item text">
        <a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/Project-metro-8"
          >Командный проект (TeamLead)</a
        >
      </li>
    </ul>
  </div>
</section>
