<section class="section">
  <div class="container">
    <h2 class="title">Курс 2 - JS. Домашние работы:</h2>

    <ul class="list">
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-07">Сборник домашних работ №1-№8</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-08-gallery">Домашняя работа №9</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-10-food-service">Домашняя работа №10</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-11-color-switch">Домашняя работа №11/1</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-11-timer">Домашняя работа №11/2</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-11-promisification">Домашняя работа №11/3</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-12-countries">Домашняя работа №12</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/goit-js-hw-13-image-finder">Домашняя работа №13</a></li>
      <li class="list-item text"><a class="link" target="_blank" href="https://github.com/EvgeniyKravchuk/project_filmoteka">Командный проект (TeamLead)</a></li>
      </ul>
    </div>
</sectin>
