<section class="hero section">
  <div class="container">
    <img class="my-photo" src="./images/my-photo.jpg" alt="Фотография со мной" />
    <div>
      <h1 class="hero-title">Кравчук Евгений Алексеевич</h1>
      <p class="skills text">
        HTML, CSS, JS, React (Классы, Хуки, Redux, styled components). В учебных проектах был
        ТимЛидом. Умею читать документацию, использовать плагины и библиотеки (Handlebars, Lodash,
        Babel и т.д.). Адаптивная верстка 😏
      </p>
      <p class="birthday">(26.07.1996)</p>
    </div>
  </div>
</section>
