<section class="section">
  <div class="container">
    <h2 class="title">Как я выбрал этот путь?</h2>
    <p class="text">
      3 года прослужив в армии я вдруг задал себе такие вопросы: "Что я делаю в армии? Чего я
      добьюсь в будущем? Как реализую себя?" И вот, спустя неделю я купил книгу "C++ для чайников" и
      начал делать первые шаги в мире IT. Спустя пару недель я уже умел выводить элементарные вещи в
      консоль и строить простые логические цепочки, но отсутствие мотивации погубило желание
      продолжать. Тут то я и понял что мне нужна помощь - обращаюсь за помощью к google и натыкаюсь
      на курсы GoIT, звоню менеджеру, меня записывают на марафон для создания моего первого сайта с
      резюме (это не оно, если что 😅). Мне понравилось, я захотел большего, меня затянуло! И вот,
      спустя 8 месяцев службы и упорного обучения я увольняюсь с армии, уже знаю основы HTML, CSS,
      SASS, JS, сейчас изучаю React и моих знаний вполне хватает что бы написать это резюме на
      React, но решил освежить память в прошлом материале. Я продолжаю обучение в GoIT, но чувствую
      что созрел для первых шагов на боевых проектах! В учебных проектах я всегда выступал в
      качестве TeamLeader, всегда преуспевал и старался).
    </p>
  </div>
</section>
