<section class="section">
  <div class="container">
    <h2 class="title">Почему Вам нужен именно я?</h2>
    <ul class="list text">
      <li class="list-item">Я не боюсь работы 👨‍💼</li>
      <li class="list-item">Я постоянно развиваюсь ⬆️</li>
      <li class="list-item">Я ответственный 🤖</li>
      <li class="list-item">Я всегда хочу знать больше 👽</li>
      <li class="list-item">Я дружелюбный 👫</li>
      <li class="list-item">Учу английский 🍀</li>
      <li class="list-item">IT - моя главная цель ⭐</li>
      <li class="list-item">Я Вас никогда не подведу 😇</li>
    </ul>
  </div>
</section>
