.my-photo {
  width: 300px;

  margin-bottom: 10px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.hero-title {
  @include titleFont(30px);
}

.birthday {
  @include textFont(16px);
}
