.footer {
  width: 100%;
  height: 60px;

  position: relative;

  background-color: rgb(20, 20, 73);

  padding-right: 10px;
  padding-left: 10px;

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.foter-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.footer-item {
  @include textFont(16px);
  color: white;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      width: 200px;
      margin-right: 100px;
    }
  }
}
